/* CSS file for styling the HTML document */

@font-face {
  font-family: 'JetBrains Mono Nerd Font Mono';
  src: url('./fonts/JetBrainsMonoNLNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'JetBrains Mono Nerd Font Mono', monospace;
  background: #0b0221;
  background: linear-gradient(193deg, rgba(11, 2, 33, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(63, 20, 133, 1) 100%);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
  margin-bottom: 10%;
}

.heading {
  margin-top: 300px;
  color: #eee;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.Intro {
    padding-top: 100px;
    color: #eee;
    font-size: 1.5rem;
    font-weight: 150;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.down_arrow {
    animation: vertical-shaking 1.5s infinite;
}

@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(0) }
}

/* From Uiverse.io by Yaya12085 */ 
.code-editor {
  margin: 30px;
  max-width: 1000px;
  background-color: #1d1e22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.title {
  font-family: JetBrainsMonoNLNerdFont-Regular, monospace;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: rgb(212 212 212);
}

.icon {
  width: 20px;
  transition: .2s ease;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50px;
  background-color: #6e7281;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}

.property {
  margin-left: 30px;
}

.property:hover {
  cursor: text;
}

.editor-content .color-0 {
  color: rgb(86 156 214);
}

.editor-content .color-1 {
  color: rgb(182 206 168);
}

.editor-content .color-2 {
  color: rgb(156 220 254);
}

.editor-content .color-3 {
  color: rgb(207 146 120);
}

.color-preview-1,.color-preview-2 {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 3px;
}

.color-preview-1 {
  background-color: #1d1e22;
}

.color-preview-1 {
  background-color: rgba(0, 0, 0, 0.5);
}

/* From Uiverse.io by cssbuttons-io */ 
button {
 margin: 20px;
 margin-top: -30px;
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 font-family: JetBrainsMonoNLNerdFont-Regular, monospace;
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: linear-gradient(193deg, #2a19a8 0%, #a149d1 90%, #cf49d1 100%);
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #9019ff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 20px;
 right: 0;
 bottom: 0;
 padding: 0.8rem 0;
 margin: 0 0 0 1.85rem;
 color: #FFFFFF;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 105%;
}

button:hover .circle .icon.arrow {
 background: #FFF;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #FFF;
}

