/* CSS file for styling the HTML document */

@font-face {
  font-family: 'JetBrains Mono Nerd Font Mono';
  src: url('./fonts/JetBrainsMonoNLNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'JetBrains Mono Nerd Font Mono', monospace;
  background: #0b0221;
  background: linear-gradient(193deg, rgba(11, 2, 33, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(63, 20, 133, 1) 100%);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
  margin-bottom: 10%;
}

.heading {
  margin-top: 300px;
  color: #eee;
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
}

.Intro {
    padding-top: 100px;
    color: #eee;
    font-size: 1.5rem;
    font-weight: 150;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.arrow {
    animation: vertical-shaking 0.7s infinite;
}

@keyframes vertical-shaking {
  0% { transform: translateY(0) }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(0) }
}

.cat {
    margin-top: 500px;
}


